---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
console.log('init');
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="bg-red-300 p-2 text-center text-2xl">Welcome Jack</h1>
		
	</main>
</Layout>

<style>

</style>
